{% for link in our-values-menu %}
  <li>
    <a href="{{ link.url }}">{{ link.title }}</a>
  </li>
{% endfor %}

{% schema %}
  {
    "name": "Our Values Navigaton",
    "settings": []
  }
{% endschema %}