<style>
.ourvalue_menu_wrapper{ background:#dfd2c4;}
.ourvalue_menu_wrapper ul{ padding:0px; margin:0px; display:flex; gap:2px; align-items:center;}
.ourvalue_menu_wrapper ul li{ display:inline-flex; list-style-type:none; padding-top:10px; }
.ourvalue_menu_wrapper ul li.heading{ margin-right:30px;}
.ourvalue_menu_wrapper ul li.nav.active_tab a{ background:#faf9f7; color:#5c4d3b;}
.ourvalue_menu_wrapper ul li.nav a{ cursor:pointer; padding:13px 30px; color:#5c4d3b; background:rgba(250,249,247,0.4); font-size:16px; line-height:24px; text-decoration:none; border-top-left-radius:8px; border-top-right-radius:8px;}  
</style>

<div class="ourvalue_menu_wrapper">
  <div class="page-width">
  <ul>
    <li class="heading">OUR VALUES:</li>
{% for link in linklists.our-values-menu.links %} 
     <li class="nav {% if link.url == request.path %}active_tab{% endif %}">
    <a href="{{ link.url }}">{{ link.title }}</a>
  </li>
{% endfor %}
  </ul>
  </div>
</div>


{% schema %}
  {
    "name": "Our Values Navigaton",
    "settings": [],
      "presets": [
    {
      "name": "Our Values Navigaton",
    }
  ]
  }
{% endschema %}