{% for link in linklists.our-values-menu.links %}
  <li>
    <a href="{{ link.url }}">{{ link.title }}</a>
  </li>
{% endfor %}

{% schema %}
  {
    "name": "Our Values Navigaton",
    "settings": [],
      "presets": [
    {
      "name": "Our Values Navigaton",
    }
  ]
  }
{% endschema %}