<div class="quote_outer container">
  <div class="content_left">{{ section.settings.quote_text }}</div>
  <div class="content_right"><a href="{{ section.settings.button_url }}">{{ section.settings.button_text }}</a></div>
</div>
{% style %}
  section.quote_section{ background:{{section.settings.background_color}}; padding:80px 10px; margin:60px 0px;}
  .quote_outer{ display:flex; gap:20px; align-items:center;}
  .content_left{ width:75%; font-size:50px; line-height:56px; color:#fff;}
  .content_right{ width:25%; text-align:right;}
  .content_right a{ border:2px solid #fff; padding:15px 30px; color:#fff; text-decoration:none;}
{% endstyle %}

{% schema %}
{
  "name": "Quote Single",
  "tag": "section",
  "class": "quote_section",
  "settings": [
    {
      "type": "richtext",
      "label": "Quote Text",
      "id": "quote_text"
    },
    
    {
      "type": "text",
      "label": "Button Text",
      "id": "button_text"
    },
    {
      "type": "url",
      "label": "Button URL",
      "id": "button_url"
    },
    {
      "type": "color",
      "label": "Background Color",
      "id": "background_color",
      "default":"#30514e"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Quote Single"
    }
  ]
}
{% endschema %}


{% javascript %}
{% endjavascript %}