<style>
    .product-card {
      box-sizing: border-box;
      float: left;
      min-height: 1em;
      padding-left: 2em;
      vertical-align: top;
      width: 25%;
    }
  
    .visuallyhidden {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
      white-space: nowrap;
    }
  </style>
  <h2>Related Product</h2>
{% assign current_vendor = product.vendor %}
{% assign current_collection = product.metafields.custom.collection_name %}
{% assign custom_metafield_condition = product.metafields.custom.sub_category_1 %}

{% assign related_products = all_products | where: 'vendor', current_vendor | where: 'collections', current_collection | where: custom_metafield_condition %}

{% for related_product in related_products limit: 4 %}
 
  <div class="related-product">
    <h3>{{ related_product.title }}</h3>
    <!-- Add other product details as needed -->
  </div>
{% endfor %}
  
  {% schema %}
  {
    "name": "Recommended products",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Recommended products"
      },
      {
        "type": "text",
        "id": "related_tag",
        "label": "Tag",
        "info" : "The tag determines which products show as related products."
      },
      {
        "type": "select",
        "id": "number_of_products",
        "label": "Number of products to show",
        "default": "4",
        "options": [
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "8",
            "label": "8"
          },
          {
            "value": "12",
            "label": "12"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Recommended products"
      }
    ]
  }
  {% endschema %}