@font-face {font-family: "MyriadPro-Regular";
src: url('https://cdn.shopify.com/s/files/1/0775/9046/2737/files/MyriadPro-Regular.woff2') format("woff2"),
url('https://cdn.shopify.com/s/files/1/0775/9046/2737/files/MyriadPro-Regular.woff') format("woff");
font-weight: normal; font-style: normal; font-display: swap;}
@font-face {font-family: "NunitoSans-SemiBold";
src: url('https://cdn.shopify.com/s/files/1/0775/9046/2737/files/NunitoSans-SemiBold.woff2') format("woff2"),
url('https://cdn.shopify.com/s/files/1/0775/9046/2737/files/NunitoSans-SemiBold.woff') format("woff");
font-weight: normal; font-style: normal; font-display: swap;}


body, a, a.link, a.link--text, span, ul li{ font-family:'MyriadPro-Regular'; font-size:20px; line-height:26px; font-weight:400;}
ul li{ line-height:30px;}

ul.bullet_listing li{ line-height:40px; display:flex; align-items:center;}
ul.bullet_listing li:before{ content:""; display:inline-block; width:5px; height:5px; border-radius:50%;}
header.header.container{ max-width:1440px; margin:0 auto; padding:10px 20px 0px !important;}
.container{ max-width:1440px; margin:0 auto; padding:0px 20px;}
.page-width-desktop, .collection__title.title-wrapper{ padding:0px 15px !important;}
.page-width{ padding-left:15px !important; padding-right:15px !important; max-width:1400px;}

.popup-button{background:url('https://cdn.shopify.com/s/files/1/0775/9046/2737/files/play-icon.svg?v=1702316576') center center no-repeat; background-size:80px; cursor:pointer; display:flex !important; justify-content:center; align-items:center;}
.linkwith_arrow:after{ content:""; display:inline-block; width:7px; height:7px; margin-left:2px; border: solid black; border-width: 0 1px 1px 0;
  display: inline-block; padding: 2px; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); border-color:#5f807f;}

header.header.container nav.header__inline-menu ul li a{ padding:15px 20px;}
header.header.container nav.header__inline-menu ul li a:hover span{ text-decoration:none;}
header.header.container nav.header__inline-menu ul li a span{ font-family:'NunitoSans-SemiBold'; color:#000; text-decoration:none; font-size:22px;}
.header--top-center .header__heading a.link{ line-height: 0px;}
.page_content_wrapper h1, .h1{ font-size:46px; line-height:52px; font-weight:600; font-family:'NunitoSans-SemiBold';}
.page_content_wrapper h2, .h2{ font-size:40px; line-height:46px; font-weight:500; font-family:'NunitoSans-SemiBold';}

footer .footer-block__details-content .list-menu__item--link{ color:#000; font-size:20px;}
h2.footer-block__heading{ font-size:24px; color:#000;}
footer .footer-block__details-content ul{ margin:0px; padding:0px;}
footer .footer-block__details-content ul li{ list-style-type:none;}
footer .footer-block__details-content a{ text-decoration:none; color:#000;}
footer .footer-block__details-content .list-menu__item--link:hover{ text-decoration:none;}
footer ul li.list-social__item .icon{ background:#5f807f; border-radius:50%; width:36px; height:36px; padding:5px;}
footer ul li.list-social__item .icon path{ fill:#fff;}
section .page_content_wrapper{ padding-bottom:100px;}
footer form.newsletter-form .newsletter-form__field-wrapper .field:before, footer form.newsletter-form .newsletter-form__field-wrapper .field:after{ display:none;}
footer.footer .footer__content-bottom{ padding: 0px 0px 30px; border:none;}
footer form.newsletter-form .newsletter-form__field-wrapper input{ border:2px solid #5f807f;}
footer form.newsletter-form .newsletter-form__field-wrapper input.field__input:focus-visible{ box-shadow:none; outline:none;}
footer form.newsletter-form .newsletter-form__field-wrapper .newsletter-form__button{ background:#5f807f; color:#fff;}
.page_content_wrapper h3{font-size:24px; color:#000; font-weight:600; line-height:36px; margin:0px 0px 10px; font-family:'NunitoSans-SemiBold';}
.page_content_wrapper h4{font-size:21px; color:#000; font-weight:600; line-height:32px; margin:0px 0px 10px; font-family:'NunitoSans-SemiBold';}
.page_content_wrapper p{ color:#000;}
.page_content_wrapper a{ color:#5f807f;}
.page_content_wrapper ul li{ color:#000; line-height:36px;}
.page_content_wrapper ul li::marker{ color:#5f807f;}
.page_content_wrapper .image_grid_outer{ margin-bottom:20px;}


/*====Blog page code===========*/
.article-template #breadcrumb_wrapper{ background-color:#5f807f; margin:0px;}
.article-template #breadcrumb_wrapper ul{ padding:50px 0px; color:#fff; display:flex; gap:10px;}
.article-template #breadcrumb_wrapper ul li{ list-style-type:none; color:#fff; font-size:22px;}
.article-template #breadcrumb_wrapper ul li a{ color:#fff; font-size:22px; text-decoration:none;}
.article-template header .author_name span{ font-size:22px; padding-bottom:5px;}
.article-template header time{ font-size:16px; color:#5f807f;}


.article-template h1{ font-size:52px; line-height:60px; font-weight:600; font-family:'NunitoSans-SemiBold';}
.article-template h2{ font-size:40px; line-height:46px; font-weight:500; font-family:'NunitoSans-SemiBold'; margin-top:0px; margin-bottom:10px;}
.article-template h3{font-size:24px; color:#000; font-weight:600; line-height:36px; margin:0px 0px 10px; font-family:'NunitoSans-SemiBold';}
.article-template h4{font-size:21px; color:#000; font-weight:600; line-height:32px; margin:0px 0px 10px; font-family:'NunitoSans-SemiBold';}
.article-template p{ color:#000;}
.article-template .article-template__content:after{ display:none;}
.article-template .article-template__content{display:flex; gap:60px; justify-content:space-between;}
.article-template .article-template__content .article_content{width:70%;}
.article-template .article-template__content .article_sidebar{width:30%;}
.article-template .article_sidebar h3{font-size:24px; color:#000; font-weight:600; line-height:36px; margin:0px 0px 10px; font-family:'NunitoSans-SemiBold';} 
.article-template .article_sidebar .sidebar_tiles{ margin-bottom:20px; display:block; text-decoration:none;}
.article-template .article_sidebar .sidebar_tiles .content_wrap{padding:5px 15px 18px;}
.article-template .article_sidebar .sidebar_tiles .date{ color:#666;}
.article-template .article-template__social-sharing{ margin:0 auto;}
.article-template .article_sidebar .sidebar_tiles:hover{box-shadow:0 4px 20px #dee9ef;}
.article-template .rte img{ box-shadow:none;}


/*========Product Page code-----------*/

.facets.facets-vertical-sort .facets-vertical-form .facet-filters__sort{ padding:0px 10px;}
ul.product_detail_data{ padding:20px 0px;}
ul.product_detail_data > li{ display:flex; gap:40px; padding:5px 0px; border-bottom: 1px solid #ccc;}
ul.product_detail_data > li:last-child{border: none;}
ul.product_detail_data > li .leftcol{ width:20%;}
ul.product_detail_data > li .rightcol{ width:80%;}
ul.product_detail_data > li .rightcol ul{ display:flex; gap:20px; padding:0px;}
ul.product_detail_data > li .rightcol ul li{ list-style-type:none;}
ul.product_detail_data > li .rightcol ul li:before{display:inline-block;transform:rotate(45deg);height:14px;width:7px;border-bottom:2px solid #5f807f;border-right:2px solid #5f807f; content: "";  margin-right:12px;}
.product__info-container .product__title{ margin-bottom:5px;}
.product__info-container .vendor_info{ font-size:20px; margin:0px; padding:0px;}
.product__info-container .vendor_info a{ text-decoration:none; color:#333;}
.product__info-container .price_starting{ font-size:24px; border-bottom:1px solid #ccc;}
.product__info-container .price_starting .price-item.price-item--regular{ font-size:22px;}
.product__info-container .price_starting .price-item{ font-size:26px;}
.product__info-container .price__regular .price-item{ font-size:30px;}
.product__info-container .price.price--large{ border-bottom:1px solid #ccc;}
.product__info-container .product__description .learn_more_detail{ display:block;}

/*=========Policy pages code================*/
main#MainContent .shopify-policy__container{ padding-left: 15px!important; padding-right: 15px!important;max-width: 1400px;padding-bottom: 100px;}
main#MainContent .shopify-policy__container h1{ text-align:left;font-size: 46px; line-height: 52px; font-weight: 600; font-family: NunitoSans-SemiBold;}
main#MainContent .shopify-policy__container h2{font-size: 40px;line-height: 46px; font-weight: 500;font-family: NunitoSans-SemiBold;}
